[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31.0"
selenium = "~=4.9.1"
beautifulsoup4 = "~=4.12.2"
tldextract = "~=3.4.4"

[dev-packages]

[requires]
python_version = "3.8"
